.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.travis.yml
extra_script.py
platformio.ini
.code-workspace
dox_and_utilites/
lib/readme.txt
.vscode/
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/*.db
.vscode/.browse.c_cpp.db*
